footer.footer
  .footer__wrapper 
    .footer__author
      p.footer__author__text=`${meta.data.author_text} `
      a.footer__author__link(href=meta.data.author_link target="_blank")=meta.data.author

    .footer__copyright
      p.footer__copyright__text=`${meta.data.title} © 2023`