nav.navigation
  .navigation__wrapper 
    ul.navigation__list
      li
        a.navigation__list__link.--logo(href="/")=home.data.title
      li
        a.navigation__list__link.--niche(href="/:nicho") :Nicho
      li
        a.navigation__list__link.--photoshoot(href=":nicho/:ensaio") :Ensaio

    a.navigation__link(href="#Contato") Contato
    a.navigation__link(href="#") Voltar