style(type='text/css').
	@font-face {
		font-family: Branch;
		src: url('./Branch.woff2') format('woff2'),
			url('./Branch.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	html { max-width: 100vw; min-height: 100%; overflow-x: hidden;}
	body { max-width: 100vw; min-height: 100%; overflow-x: hidden;}

	html {
		font-family: "Branch";
		font-size: calc(100vw / 1512 * 10);
		line-height: 1;
		background: #cdc9c4;
		color: #425360;
		overflow-x: hidden;
	}

	html:after {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		border: 6px solid #b3aea8;
		z-index: 100;
		pointer-events: none;
		user-select: none;
	}

	@media(max-width: 1024px) and (min-width: 768px) {
		html {
			font-size: calc(100vw / 1120 * 10);
		}
	}

	@media(min-width: 1920px) {
		html {
			font-size: calc(100vw / 1920 * 10);
		}
	}

	html::before {
		top: 0;
	}

	html::after {
		bottom: 0;
	}

	/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
	body:before {
		will-change: background-image;
		animation: grain 10s steps(10) infinite;
		background-image: url('./noise.png');
		content: '';
		height: 300%;
		left: -50%;
		opacity: 0.6;
		position: fixed;
		top: -100%;
		width: 300%;
		pointer-events: none;
		z-index: 0;
	}

	.lenis.lenis-smooth:not(.--preloader) {
		scroll-behavior: auto;
	}

	html.lenis {
		height: auto;
	}

	.preloader {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		object-fit: cover;

		align-items: center;
		display: flex;
		justify-content: center;

		background: #cdc9c4;
		align-items: center;
		text-align: center;
		z-index: 99;
	}

	.preloader__text {
		font-size: 3rem;
		opacity: 0;
	}

	.preloader__number {
		font-size: 1.9rem;
		opacity: 0;

		position: absolute;
		left: 50%;
		bottom: 7rem;
		transform: translateX(-50%);
	}

	.preloader__text,
	.preloader__number {
		animation: fade-in .4s ease-in;
		animation-delay: .8s;
		animation-fill-mode: forwards;
	}

	@media(max-width: 768px) {
		.preloader__text {
			font-size: 10rem;
		}
		.preloader__number {
			font-size: 6rem;
			bottom: 10rem;
		}
	}

	 @media(max-width: 1024px) {
		.preloader__text {
			margin-top: -20rem;
		}
		.preloader__number {
			bottom: 25rem;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateY('-100%')
		}
		100% {
			opacity: 1;
			transform: translateY('0')
		}
	}

	section {
		width: 100%
	}

	@keyframes grain {
		0%,
		100% {
			transform: translate(0, 0);
		}

		10% {
			transform: translate(-5%, -9%);
		}

		20% {
			transform: translate(-13%, 5%);
		}

		30% {
			transform: translate(7%, -20%);
		}

		40% {
			transform: translate(-5%, 20%);
		}

		50% {
			transform: translate(-13%, 9%);
		}

		60% {
			transform: translate(13%, 0%);
		}

		70% {
			transform: translate(0%, 13%);
		}

		80% {
			transform: translate(3%, 25%);
		}

		90% {
			transform: translate(-9%, 9%);
		}
	}