style(type='text/css').
  @font-face {
    font-family: Branch;
    src: url('./Branch.woff2') format('woff2'),
      url('./Branch.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  html {
    font-size: calc(100vw / 1512 * 10);
    line-height: 1;
    font-family: "Branch";
  }

  /* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
  body:before {
    will-change: background-image;
    animation: grain 10s steps(10) infinite;
    background-image: url('./noise.png');
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.4;
    position: fixed;
    top: -100%;
    width: 300%;
    pointer-events: none;
    z-index: 99999;
  }

  @keyframes grain {
    0%,
    100% {
      transform: translate(0, 0);
    }

    10% {
      transform: translate(-5%, -9%);
    }

    20% {
      transform: translate(-13%, 5%);
    }

    30% {
      transform: translate(7%, -20%);
    }

    40% {
      transform: translate(-5%, 20%);
    }

    50% {
      transform: translate(-13%, 9%);
    }

    60% {
      transform: translate(13%, 0%);
    }

    70% {
      transform: translate(0%, 13%);
    }

    80% {
      transform: translate(3%, 25%);
    }

    90% {
      transform: translate(-9%, 9%);
    }
  }

  body.--preloader {
    overflow: hidden;
    padding-right: 10px;
  }

  body.--preloader .preloader {
    opacity: 1;
  }

  body.--preloader .content {
    opacity: 0;
  }

  .preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;

    align-items: center;
    display: flex;
    justify-content: center;

    opacity: 0;
    background: #cdc9c4;
    align-items: center;
    text-align: center;
    z-index: 9999;
  }

  .preloader__text {
    font-size: 3rem;
    opacity: 0;
  }

  .preloader__number {
    font-size: 2rem;
    opacity: 0;

    position: absolute;
    left: 48%;
    bottom: 7rem;
    transform: translateX(-50%);
  }

  .preloader__text,
  .preloader__number {
    animation: fade-in .4s ease-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }