nav.navigation
	ul.navigation__list
		li.navigation__list__item
			a.navigation__link.navigation__link--logo(href="/")=home.data.title
		li.navigation__list__item
			a.navigation__link.navigation__link--niche(href="/:nicho")='>  :Nicho'
		li.navigation__list__item
			a.navigation__link.navigation__link--photoshoot(href=":nicho/:ensaio")='>  :Ensaio'
		li.navigation__list__item
			a.navigation__link.navigation__link--contact(href="#contato" onclick="lenis.scrollTo('#contato')") contato

	a.navigation__link.navigation__link--back(href="#")='< voltar'