%text-200 {
	font-size: 20rem;
	color: $color-dawn-pink;
	mix-blend-mode: screen;
}

%text-175 {
	font-size: 17.5rem;
	color: $color-dawn-pink;
	mix-blend-mode: screen;
}

%text-150 {
	font-size: 15rem;
	color: $color-dawn-pink;
	mix-blend-mode: screen;
}

%text-75 {
	font-size: 7.5rem;
	color: $color-dawn-pink;
}

%text-50 {
	font-size: 5rem;
	color: $color-dawn-pink;
	mix-blend-mode: screen;
}

%text-40 {
	font-size: 4rem;
}

%text-30 {
	font-size: 3rem;
}

%text-20 {
	font-size: 2rem;
	color: $color-dawn-pink;
	mix-blend-mode: screen;
}
