body.--preloader {
	overflow: hidden;

	.preloader {
		// opacity: 1;
	}
}

.preloader__text {
	overflow: hidden;
}

.preloader__text span {
	@extend %text-30;
	display: inline-block;
}

.preloader__number {
	overflow: hidden;
}
