%text-200 {
	font-size: 20rem;
	color: $dawn-pink;
	mix-blend-mode: screen;
	z-index: z('content');

	@include media('<phone') {
		font-size: 24rem;
	}
}

%text-175 {
	font-size: 17.5rem;
	color: $dawn-pink;
	mix-blend-mode: screen;
	z-index: z('content');

	@include media('<phone') {
		font-size: 24rem;
	}
}

%text-150 {
	font-size: 15rem;
	color: $dawn-pink;
	mix-blend-mode: screen;
	z-index: z('content');

	@include media('<phone') {
		font-size: 22rem;
	}
}

%text-75 {
	font-size: 7.5rem;
	color: $dawn-pink;
	z-index: z('content');

	@include media('<phone') {
		font-size: 10rem;
	}
}

%text-50 {
	font-size: 5rem;
	color: $dawn-pink;
	mix-blend-mode: screen;
	z-index: z('content');

	@include media('<phone') {
		font-size: 8rem;
	}
}

%text-40 {
	font-size: 4rem;
	z-index: z('content');

	@include media('<phone') {
		font-size: 8rem;
	}
}

%text-30 {
	font-size: 3rem;
	z-index: z('content');

	@include media('<phone') {
		font-size: 6rem;
	}
}

%text-20 {
	font-size: 2rem;
	color: $dawn-pink;
	mix-blend-mode: screen;
	z-index: z('content');

	@include media('<phone') {
		font-size: 6rem;
	}
}
