*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 1512 * 10);
	line-height: 1;

	// @include media('<phone') {
	// 	font-size: calc(100vw / 750 * 10);
	// }
}

body {
	font-size: 3rem;
	font-family: $font-primary;
	background: $color-cloud;
	color: $color-millbrook;
	user-select: none;
}

.content {
	opacity: 1;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none;
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

img {
	vertical-align: middle;
	z-index: 1;
}
