*,
*::after,
*::before {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
	background: $cloud;
}

::-webkit-scrollbar-thumb {
	background: $millbrook;
	background: linear-gradient(
		90deg,
		rgba(205, 201, 196, 1) 0%,
		rgba(91, 64, 47, 1) 100%
	);
}

html {
	font-size: calc(100vw / 1512 * 10);
	line-height: 1;

	// @include media('<phone') {
	// 	font-size: calc(100vw / 750 * 10);
	// }
}

body {
	font-size: 3rem;
	font-family: $font-primary;
	background: $cloud;
	color: $millbrook;
	user-select: none;
	position: relative;

	@include media('<phone') {
		font-size: 8rem;
	}
}

.content {
	opacity: 1;
}

a {
	display: block;
	color: inherit;
	text-decoration: none;
	outline: none;
}

button {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

img {
	vertical-align: middle;
	z-index: z('content');
}
