.about {
	@extend %flex-center;
	justify-content: flex-start;

	width: 100%;
	height: auto;
	margin-top: 25rem;
}

.about__image_wrapper {
	width: 50rem;
	height: 45rem;
	justify-self: flex-start;
	border-radius: 0 50% 50% 0;
	position: relative;
	overflow: hidden;
}

.about__image {
	@extend %cover;
}

.about__image__img {
}

.about__text {
	width: 70rem;
	margin: 0 auto;

	p {
		margin-bottom: 4.2rem;
		line-height: 1.3;
	}
}
