.contact {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  height: 74vh;

  @include media('<tablet') {
    align-items: center;
    justify-content: flex-end;
  }
}

.contact__image_wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: z('content');
}

.contact__image {
  @extend %cover;
  object-position: right bottom;
  z-index: z('content');
  transform: scaleX(-1);

  @include media('<tablet') {
    object-position: 50% 0;
  }
}

.contact__link {
  height: 20rem;
  margin: 0 7vw;
  text-align: left;
  z-index: z('content');
  transform: translateY(-5vh);

  @include media('<tablet') {
    height: 30rem;
    text-align: left;
    margin-bottom: 7rem;
  }
}


.contact__link:last-child {
  @include media('<tablet') {
    margin-bottom: 18vh;
  }
}

.contact__link__title_wrapper {
  mix-blend-mode: screen;
}

.contact__link__title {
  @extend %text-200;
  font-size: 15rem;
}


.contact__link__text_wrapper {
  position: relative;
  transform: translateY(-110%);
  z-index: z('titles');
}

.contact__link__text {
  @extend %text-50;
  color: $river-bed;
}

.--social-media .contact__link__text {
  margin-left: 25rem;
}

.--tablet .contact__link__text {
  margin-left: 5rem;
}