.niches {
  @extend %section-space;
  padding-left: 0;
  padding-right: 0;
}

.niches_wrapper {
  height: 100vh;
  padding: 12vh 0 8vh;
  margin-bottom: 10vh;

  @include media('<tablet') {
    height: 60vh;
    margin-bottom: 0;
    padding: 5vh 0;
    transform: translateX(-4%);
  }
}

.niches__link {
  height: 100%;
  width: 0;
  margin: 0 40% 0 60%;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.niches__link__title {
  @extend %text-150;

  display: flex;
  flex-flow: column;
  position: fixed;
  left: 5vw;
  top: 55%;
  pointer-events: none;
  z-index: z('titles');

  @include media('<tablet') {
    left: 8vw;
    top: 55%;
    font-size: calc(4rem*1.618*1.618*1.618) !important;
  }

  @include media('<desktop') {
    font-size: calc(4rem*1.618*1.618);
  }

  @include media('>desktop') {
    font-size: calc(4rem*1.618*1.618);
  }

  span:not(:first-child) {
    margin-left: 15rem;
  }
}

.niches__link__title.--mobile {
  display: none;
  position: absolute;
  bottom: 2vh;
  left: -50vw;
  width: 75vw;

  @include media('<tablet') {
    display: flex;
    font-size: 13rem !important;
  }
}

.niches__link__title.--desktop {
  display: none;

  @include media('>tablet') {
    display: flex;
  }
}

.niches__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  @include media('<phone') {
    position: absolute;
    width: 100vw;
    left: -60vw;
  }
}

.niches__item {
  height: 100%;
  position: absolute;
  will-change: transform;

  &:nth-child(1) {
    transform-origin: right;
    right: 51%;

    @include media('<phone') {
      transform-origin: left;
      left: 5%;
    }
  }

  &:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  &:nth-child(3) {
    left: 51%;

    @include media('<phone') {
      right: 2%;
      left: unset;
    }
  }
}

.niches__item:nth-child(n + 4) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  visibility: hidden;
}

li.niches__item:nth-child(2) .niches__item__image_wrapper {
  @include media('<tablet') {
    height: 80%;
    margin-top: 20%;
  }
}

.niches_wrapper:nth-child(odd) {
  .niches__item:nth-child(1) {
    top: -6%;
    margin-right: 3rem;

    .niches__item__image_wrapper {
      height: 97%;
    }
  }

  .niches__item:nth-child(2) {
    top: 3%;

    .niches__item__image {
      transform: scale(0.85);
    }
  }

  .niches__item:nth-child(3) {
    top: 0;
    margin-left: 3rem;

    .niches__item__image {
      transform: scale(0.92);
    }
  }
}

.niches_wrapper:nth-child(even) {
  .niches__item:nth-child(1) {
    top: -6%;
    margin-right: 3rem;

    .niches__item__image {
      transform: scale(1);
    }
  }

  .niches__item:nth-child(2) {
    top: -3%;

    .niches__item__image {
      transform: scale(0.835);
    }
  }

  .niches__item:nth-child(3) {
    top: 4%;
    margin-left: 3rem;

    .niches__item__image {
      transform: scale(0.85);
    }
  }
}

.niches_wrapper .niches__item:nth-child(2) .niches__item__image {
  @include media('<tablet') {
    transform: scale(1) !important;
    height: 80%;
  }
}

.niches__item__image_wrapper {
  height: 100%;
}

.niches__item__image {
  height: 100%;
  width: auto;

  @include media('<tablet') {
    height: 80%;
  }
}