.parallax {
	width: 100%;
	height: calc(90vh * 3);
	overflow: hidden;

  @include media('<phone') {
    height: calc(85vh * 3);
  }
}

.parallax__image_wrapper {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	margin-top: -5%;

	&:nth-child(2) .parallax__image {
		object-position: center 30%;
	}

  @include media('<phone') {
    height: 95vh;
  }
}

.parallax__image {
	@extend %cover;

	top: -90%;
}
